<section role="main" class="forms large-5 large-centered columns scroll-container">
  <div class="row">
    <div class="large-16">
      <fieldset>
        <ul class="left">
          <li class="img">
            <%= image_tag (@product.image),  alt: @product.name, width: 350, height: 350 %>
          </li>
        </ul>

        <div class="row">
          <div class="large-4 columns">
            <ul class="pricing-table">
              <li class="title">
                <%= @product.name %>
              </li>
              <li class="price">
                <%= number_to_currency @product.price %>
              </li>
              <li class="description">
                <%= @product.description %>
              </li>
              <li class="cta-button">
                <%= button_to t('buy'), line_items_path, method: :post, id: 'add-to-cart', class: 'small button success radius', remote: true, params: { product_id: @product.id} %>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</section>

<%= render 'add_modal' %>
